{% extends 'layout/base.html' %}

{% block body %}
<div class="container my-4 bg-white">
  <div class="row">
    <div class="col-md-12">
      <div >
        {% if locs %}
        <table class="table table-success">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Width</th>
              <th scope="col">Height</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for row in locs %}
            <tr class="">
              <td>{{row.id}}</td>
              <td><img src="{{row.image_path}}" class="img-fluid rounded-top" alt="{{row.name}}" style="height: 200px;"></td>
              <td>{{row.name}}</td>
              <td>{{row.address}}</td>
              <td>{{row.width}}</td>
              <td>{{row.height}}</td>
              <td>{{row.created_on.date()}}</td>
              <td>
                <a type="Parking" class="btn btn-lg btn-outline-dark" href="/detect/camera/{{row.id}}">🎥 Open Camera </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>     
        {% else %}
        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Add a new parking location</h1>
            <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
            <a type="Parking" class="btn btn-lg btn-outline-dark" href="/detect/start">Parking Detection System</a>
            <a class="btn btn-primary btn-lg" type="button" href="/form">Create</a>
          </div>
        </div>
        {% endif %}
        
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block css %}
<style>
  main {
    display: flex;
    width: 100vw;
    height: 90vh;
    background-color: rgb(99, 55, 137);
    background-image: url('https://plus.unsplash.com/premium_photo-1661902297268-10b52852e862?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    flex-flow: column;
    justify-content: left;
    align-items: left;
    color: rgba(58, 237, 58, 0.97);
    font-size: 1rem;
    gap: 1rem;
  }
</style>
{% endblock %}


